.container {
  width: 90%;
  margin: 0 auto;
  height: 270px;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mobileLinks img {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
}
.card a {
  color: #000;
  font-size: 14px;
  margin-top: 1rem;
}
